<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar Movimiento</title>
</head>
<body>
<h1>➕ Registrar Movimiento</h1>

<form th:action="@{/movimientos/guardar}" th:object="${movimiento}" method="post">
    <label>Producto:</label>
    <select th:field="*{producto.idProducto}">
        <option th:each="prod : ${productos}" 
                th:value="${prod.idProducto}" 
                th:text="${prod.nombre}">
        </option>
    </select>
    <br><br>

    <label>Tipo:</label>
    <select th:field="*{tipo}">
        <option value="ENTRADA">Entrada</option>
        <option value="SALIDA">Salida</option>
    </select>
    <br><br>

    <label>Cantidad:</label>
    <input type="number" th:field="*{cantidad}" required>
    <br><br>

    <button type="submit">Guardar</button>
</form>

<a th:href="@{/movimientos}">🔙 Volver a Movimientos</a>
</body>
</html>
